pysqlite3-binary
PyYAML>=6.0.2
aiohttp==3.9.5
uvicorn>=0.32.0
fastapi>=0.115.0
pydantic>=2.9.0
python-dotenv>=1.0.0
langchain<1.0.0
langgraph<1.0.0
langchain-core>=0.3.0
langchain-chroma>=0.1.4
langchain-openai>=0.1.20
langchain-google-genai>=3.1.0
langchain-anthropic>=0.1.20
langchain-deepseek>=0.1.0